<!DOCTYPE html>
<html>
  <head>
    <title>СПП1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
          margin: 4%;
        }

        textarea{
            height: 7vh;
        }
      </style>
</head>
  <body>

    <form action="/addTask" method="post" class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Заголовок</span>
          </div>
          <input type="text" name="group" class="form-control" value="<%= tasks[number].group %>" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div><br>
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Текст</span>
          </div>
          <input type="text" name="songname"  value="<%= tasks[number].songname %>" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div><br>
        <input type="submit" class="btn btn-primary" value="Отправить" />
    </form>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>